# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules*
/.pnp
.pnp.js


#private files
Resume.pdf
profile_background.jpg
profile.jpg
logo.ico
logo.png
main_photo.jpg
# testing
/coverage

# production
*env
*.png
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*credentials*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__
*token*
*credentials*
__pycache__
build
