.catagory_overlay{
  position:absolute;
  top:50%;
  text-align: center;
  width:100%;
  z-index: +2;
  color:white;
  font-weight: 700;
  font-size:20px;

}
.MuiImageListItem-root{
  cursor:grab;

.cover_overlay{
width: 100%;
height: 100%;
background: #493e3e91;
position: absolute;
z-index: +1;
}
img{
filter: blur(2px);
}
}
.dashboard{

  position:relative!important;
  z-index: 2!important;



background-color: white;
.MuiDrawer-paperAnchorDockedLeft{
  top:auto!important;
  // width: 20%!important;
}
.MuiAppBar-root{
  position: absolute!important;
}
.MuiSvgIcon-root{
  font-size: 2rem!important;
  fill: #d1b58f!important;
}
.MuiPaper-root{
  background-color: white;
  top:auto!important;

  // width: 50%!important;
  display:block!important;
  // background-color: transparent;
}
}