.insertBox{
  width:100%;

  .wrapper{
    margin-left:20px;
    padding:5px;
    margin-top:10px;
    display:block;
    width:100%;
    // width:100%;

}
.addsub{
  width:100%!important;
  // display:flex;
  // .addsub{width:40px!important}
  .qty-input {
    width:40px!important
  }
}
}
.wrapper .MuiFormControl-root{
  width: 60%;
}