<!DOCTYPE html>
<html>

<head>
  <title>404</title>
</head>

style.
  body{
    width:100%;
    height:100vh; width
    background-image:url('./background.png');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  body span{
      text-align:center;
      margin:0 auto;
      font-size:20px;
  }

<body>
  <div>
    <h1>404</h1>

    <span>Which path are you going to take next?</span>
    <button  type="button" onClick="window.location = '/'"> Go Home</button> or<button> Go Alone</button>
  </div>
</body>

</html>